.base {
    /* Layout Properties */
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 768px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.rectangle {
    top: 0px;
    left: 0px;
    width: 1366px;
    height: 50px;
    /* UI Properties */
    background: #012433 0% 0% no-repeat padding-box;
    opacity: 1;
}

.page-title {
    margin-bottom: 20px;
    text-align: left;
    font: normal normal normal 24px/12px Roboto;
    letter-spacing: 0px;
    color: #386071;
    opacity: 1;
}

.movie-header {
    display: grid;
    grid-template-columns: 50px 1fr 100px 200px 50px;
    column-gap: 30px;
    font: normal normal bold 16px Roboto;
    color: #0B749B;
    border-bottom: 1px solid #0B749B;
}

.movie-row {
    align-items: center;
    display: grid;
    grid-template-columns: 50px 1fr 100px 200px 50px;
    column-gap: 30px;
    font: normal normal normal 20px Roboto;
    color: #536B7A;
    border-bottom: 1px solid #ccc;
}

.row-center {
    text-align: center;
}

.row-left {
    text-align: left;
}

.popup-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px 20px 40px #01243366;
    opacity: 1;
}
.popup-body {
    position: absolute;
    width: 800px;
    height: 700px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid black;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: auto;
}

.popup-body .movie-title {
    font: normal normal 300 32px/38px Roboto;
    color: #164E78;
    opacity: 1;
}

.popup-body .movie-info {
    font: normal normal normal 20px Roboto;
    color: #78849E;
    opacity: 1;
    margin-bottom: -5px;
}

.popup-body .director-actors {
    font: normal normal normal 20px Roboto;
    color: #00BAFF;
    opacity: 1;
}

.popup-body .category {
    font: normal normal normal 16px Roboto;
    color: #78849EB9;
    opacity: 1;
    margin-bottom: -15px;
}

.director-actors-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: -20px;
}

.director-actors-container .director-container {
    flex: 1;
    margin-bottom: -5px;
}

.director-actors-container .actor-container {
    flex: 3;
    margin-bottom: -5px;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}